
h1 {
	text-align:  center;
	color: white;
	background: blue;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}

h2 {
	font-style: italic;
	text-align: center;
	margin-top:   30px;
}

input[type="text"]{
	box-sizing: border-box;
	width: 70%;
	padding: 12px 12px;
	border: 2px  solid blue;

}

.button{

	background-color: #000080;
	border: black;
	color: white;
	padding: 15px 15px;
	text-align: center;
	display: inline-block;
	font-size: 18px;
	width: 40%;
	height: 5%;
}

.button:hover {
	border: 4px solid blue;
}